@use "../utils/variables" as var;

footer {
  padding: var.$layout-outer-padding;
  background-color: #444;
  color: white;
  & h3 {
    font-family: "Shrikhand";
  }
  & li {
    line-height: 1.8em;
    font-weight: 500;
    & .icon {
      display: inline-block;
      width: 1.5em;
    }
  }

  & a {
    color: white;
  }
}

@media only screen and (min-width: var.$tablet-breakpoint) {
  footer {
    padding: 1em 4em;
    h3 {
      font-size: 1.8rem;
    }
    li {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (min-width: var.$desktop-breakpoint) {
  footer > * {
    max-width: 1400px;
    margin: 2em auto;
  }
}
