* {
  text-align: center;
  font-family: "Roboto";
}

h2, footer * {
  text-align: start;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  padding: 20px 0;
  box-shadow: 0px 3px 10px grey;
}

#logo {
  height: 30px;
}

.omf-buttons {
  height: 46px;
  margin: 20px 0;
  padding: 0 15px;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  color: white;
  border-radius: 23px;
  border: none;
  filter: drop-shadow(0px 4px 5px #aaa);
}
.omf-buttons:hover {
  background: linear-gradient(to right bottom, #ff83dd, #9b63df);
  filter: drop-shadow(0px 4px 5px #888);
}

#call-to-action {
  margin-bottom: 40px;
  padding: 20px 25px;
  padding-bottom: 20px;
  background-color: rgb(245, 245, 245);
}
#call-to-action h2 {
  text-align: center;
  font-size: 1.3em;
}
#call-to-action p {
  font-weight: 300;
}

.step__number {
  height: 24px;
  width: 24px;
  position: relative;
  left: -12px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  line-height: 1.5;
}

#instructions {
  padding: 0 25px;
  margin-bottom: 20px;
}
#instructions h2 {
  font-size: 1.8em;
}

#steps-list {
  padding-left: 10px;
}

.step {
  width: 100%;
  display: flex;
}
.step__card {
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  display: flex;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  align-items: center;
  filter: drop-shadow(0px 4px 5px #ddd);
}
.step__card--alt {
  background-color: #f7e4f2;
}
.step__card--alt .step__text-icon {
  color: #9356DC;
}
.step__text {
  justify-content: start;
  font-size: 1.1em;
  font-weight: 500;
  color: #444;
}
.step__text-icon {
  width: 60px;
  padding-right: 12px;
  font-size: 1.6em;
  color: grey;
}

#restaurants h2 {
  font-size: 1.8em;
}

.restaurants__card {
  position: relative;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 5px #ddd);
}
.restaurants__card img {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__info {
  display: flex;
  padding: 1em;
  line-height: 1.5;
}
.restaurants__info .description {
  width: 90%;
  font-size: 1.1em;
}
.restaurants__info .description .name {
  margin: 0;
  text-align: left;
}
.restaurants__info .description .city {
  text-align: left;
}
.restaurants__info .favorites {
  position: relative;
  width: 10%;
  height: 100%;
  font-size: 1.8em;
  line-height: 0;
  padding: 10px 0;
  z-index: 10;
}
.restaurants__info .favorites .heart-outline {
  position: relative;
  color: black;
}
.restaurants__info .favorites .heart-full {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.restaurants__info .favorites i:hover .heart-full {
  display: inline;
  color: #FF79DA;
}
.restaurants__new-tag {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #449e88;
  font-size: 0.9em;
  font-weight: 500;
}

#restaurants {
  padding: 25px;
  background-color: rgb(245, 245, 245);
}
#restaurants h2 {
  margin-bottom: 20px;
}

footer {
  padding: 25px;
  background-color: #444;
  color: white;
}
footer h3 {
  font-family: "Shrikhand";
}
footer li {
  line-height: 1.7em;
  font-weight: 500;
}
footer li .icon {
  display: inline-block;
  width: 20px;
}
footer a {
  color: white;
}

#location {
  padding: 20px 0;
  background-color: rgb(235, 235, 235);
}
#location i {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
