@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

#restaurants h2 {
  font-size: var.$headline2-size;
}

.restaurants {
  &__card {
    position: relative;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 20px;
    @include mix.drop-shadow;
    & img {
      width: 100%;
      aspect-ratio: 16/10;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
  }
  &__info {
    display: flex;
    padding: 1em;
    line-height: 1.5;
    & .restaurants__description {
      width: 90%;
      font-size: var.$cards-font-size;
      & .title {
        margin: 0;
        text-align: left;
      }
      & .subtitle {
        text-align: left;
      }
    }
    & .favorites {
      position: relative;
      width: 10%;
      height: 100%;
      font-size: 1.8em;
      line-height: 0;
      padding: 10px 0;
      z-index: 10;
      & {
        @include mix.favorites-handler;
      }
    }
  }
  &__new-tag {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px;
    border-radius: 3px;
    background-color: var.$color-tertiary;
    color: #449e88;
    font-size: 0.9em;
    font-weight: 500;
  }
}

@media only screen and (min-width: 768px) {
  .restaurants__description {
    .title {
      font-size: 1.6rem;
    }
    .subtitle {
      font-size: 1.35rem;
    }
  }

  .restaurants__info .favorites {
    font-size: 2.5em;
  }

  .restaurants__new-tag {
    font-size: 1.2rem;
  }
}