@use "../utils/variables";

.step__number {
    height: 24px;
    width: 24px;
    position: relative;
    left: -12px;
    border-radius: 50%;
    background-color: variables.$color-primary;
    color: white;
    line-height: 1.5;
}