@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

#loader {
  @include mix.loader(var.$loader-mobile) 
}

#location {
  padding: 20px 0;
  background-color: var.$color-darkgrey;
  & i {
    margin-right: 10px;
  }
}

@media only screen and (min-width: var.$tablet-breakpoint) {
  #loader {
    @include mix.loader(var.$loader-tablet); 
  }

  #location {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: var.$desktop-breakpoint) {
  #loader {
    @include mix.loader(var.$loader-desktop); 
  }

  #instructions, #restaurants > * {
    max-width: 1200px;
    margin: 0 auto;
  }

  #instructions {
    margin: 5em auto;
  }

  #restaurants__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 3em;
  }
}