@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

@use "../components/logo";
@use "../components/banner";

@use "../components/tile-cards";

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 500;
}

#restaurant-name {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1.8em;
}

#menu-layout {
  width: 100%;
  background-color: var.$color-darkgrey;
  border-radius: 40px 40px 0 0;
  display: inline-block;
  margin-top: -4em;
  padding-top: 1em;
  padding-bottom: 2em;
}

#menu__header,
.menu__sections {
  padding: 0 1em;
}

#menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .favorites {
    font-size: 1.7em;
    margin-right: 1em;
    & {
      @include mix.favorites-handler;
    }
  }
}

.menu__sections {
  margin-bottom: 3em;
  &-title {
    position: relative;
    margin-bottom: 2rem;
  }
}

.title::after {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  top: 1.3em;
  background-color: var.$color-pastelgreen;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  #restaurant-name {
    font-size: 2.2rem;
  }
  #menu-layout {
    width: 90%;
    margin: 0 3em;
    margin-top: -4em;
  }
  #menu__header .favorites {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 992px) {
  #menu-layout {
    // width: 70%;
    max-width: 1400px;
    & .menu__sections {
      width: 30%;
    }
  }

  #menu__flex-container {
    display: flex;
    justify-content: space-between;
  }
}
