@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 500;
}

#banner {
  content: url(../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  width: 100%;
  object-fit: cover;
}

#menu-layout {
  width: 100%;
  background-color: var.$color-darkgrey;
  border-radius: 40px 40px 0 0;
  display: inline-block;
  margin-top: -4em;
}

#menu__header,
article {
  padding: 0 1em;
}

#menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#restaurant-name {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1.8em;
}

.divider {
  margin: 5px 0;
  height: 5px;
  width: 40px;
  background-color: green;
}

#menu-layout {
  .restaurants__card {
    position: relative;
    margin-bottom: 1.2em;
    padding: 0 1em;
    opacity: 0;
    animation: show-meals 1s ease-in-out forwards;
    overflow: hidden;
    @include mix.show-meals;
    & .description {
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      align-items: last baseline;
      width: 100%;
      transition: 0.5s ease-out;
      &:first-child * {
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    & .price {
      width: 10%;
      margin-left: 0.8em;
    }
    & .checkbox-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      background-color: rgb(167, 189, 167);
      color: white;
      font-size: 1.8em;
      width: 20%;
      transition: left 0.5s ease-out;
      & i {
        transform: rotate(0deg);
        transition: 0.4s ease-out;
      }
    }

    &:hover {
      & .description {
        width: 80%;
      }
      & .checkbox-container {
        left: 80%;
      }
      & i {
        color: white;
        transform: rotate(360deg);
      }
    }
  }
}

article {
  margin-bottom: 3em;
}

@media only screen and (min-width: 768px) {
  #banner {
    max-height: 330px;
  }

  #menu-layout {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  #menu-layout {
    // width: 70%;
    max-width: 1400px;
  }
}
