@use "./variables" as var;

@mixin step-card {
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  display: flex;
  background-color: var.$color-lightgrey;
  border-radius: 20px;
  align-items: center;
  @include drop-shadow;
  &--alt {
    background-color: #f7e4f2;
    & .step__text-icon {
      color: var.$color-primary;
    }
  }
}

@mixin step-card-icon {
  width: 60px;
  padding-right: 12px;
  font-size: 1.6em;
  color: grey;
}

@mixin drop-shadow($color: #ddd) {
  filter: drop-shadow(0px 4px 5px $color);
}

@mixin favorites-handler() {
  .heart {
    transition: 150ms;
    &-outline {
      position: relative;
      color: black;
    }
    &-full {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0);
      transition: 150ms ease-out;
    }
  }
  & i:hover {
    transform: scale(0.97);
    & .heart-full {
      transform: scale(1.01);
      display: inline;
      color: var.$color-secondary;
    }
  }
}

@mixin show-meals() {
  @keyframes show-meals {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @for $i from 1 through 5 {
    &:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.25}s;
    }
  }
}
