$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-darkgrey: rgb(235, 235,235);
$color-lightgrey: rgb(245,245,245);
$layout-outer-padding: 25px;
$headline2-size: 1.8em;
$cards-font-size: 1.1em;