// COLORS
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-darkgrey: rgb(235, 235, 235);
$color-lightgrey: rgb(245, 245, 245);
$color-pastelgreen: #9ae3d1;
$color-gradient: linear-gradient(
  to right bottom,
  $color-secondary,
  $color-primary
);
$color-gradient-spinner: linear-gradient(
  to right bottom,
  white,
  $color-secondary,
  $color-primary
);

// UNITS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$layout-outer-padding: 1em;
$layout-outer-padding-tablet: 4em;
$headline2-size: 1.8em;
$headline2-size-tablet: 2.5rem;
$headline3-size-tablet: 1.5rem;
$cards-font-size: 1.1em;
$loader-mobile:("height": 100px, "width": 250px, "spin-outter-radius": 40px, "spin-inner-radius": 34px);
$loader-tablet:("height": 160px, "width": 400px, "spin-outter-radius": 60px, "spin-inner-radius": 54px);
$loader-desktop:("height": 300px, "width": 500px, "spin-outter-radius": 70px, "spin-inner-radius": 64px);
